mail.smtp.host=
mail.transport.protocol=smtp
mail.smtp.auth=true
mail.debug=true
mail.smtp.socketFactory.port=
mail.smtp.socketFactory.class=javax.net.ssl.SSLSocketFactory
mail.smtp.socketFactory.fallback=false
